SUPABASE_URL=https://frbvlmlketkfdpylksce.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_05Gk0LYAE0A-uvSSdppkXA_jadr_rxH
DEVICE_API_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_DEVICE_KEY
FLASK_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_FLASK_SECRET
FLASK_DEBUG=1
PORT=5000
